

#mercury, #venus, #earth, #mars, #jupiter, #saturn, #uranus, #neptune {
  display: none;
  font-size: 100px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 85%;
    margin: auto;
}
#quiz-head {
  font-family: 'Space Mono', mono-space;
  font-size: 65px;
  text-align: center;
}

#quiz-summary {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-align: center;
}