

#mercury, #venus, #earth, #mars, #jupiter, #saturn, #uranus, #neptune {
  display: none;
  font-size: 100px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 85%;
    margin: auto;
}